* {
  box-sizing: border-box;
 }
 
 body {
   padding: 50px;
   background-color: #66CCFF;
   font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 
 input, textarea {
   font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 
 ::placeholder {
   color: #a9a9a9;
   font-style: italic;
 }
 
 #container {
   display: flex;
   justify-content: center;
 }

 .todoListMain .header {
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.8);
  padding: 8px;
  border-radius: 4px;
  width: 50vw;
}
.todoListMain .header input,
.todoListMain .header textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  display: block;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
}

.todoListMain .header  label {
  color: #666;
  font-size: 0.8rem;
}

.todoListMain .header button {
  padding: 6px 50px;
  font-size: 16px;
  margin: 10px auto 0pc;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 4px;
  display: block;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 50vw;
}

.theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

ul.theList {
  padding: 0;
}

.theList .todoItem {
  display: grid;
  grid-template-columns: 20px 1fr ;
}

.theList .todoLabel {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.theList .todoActions
{
  padding: 3px 0;
  margin-left: -30px;
  margin-right: 30px;
  margin-top: -10px;
}

.theList .todoActions span {
  color: #333;
  cursor: pointer;
  font-size: 21px;
  background: #fff;
  margin: 0 0 4px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
}

.theList .actionDelete:hover,
.theList .actionAdd:hover,
.theList .actionEdit:hover {
    color: #0066FF;
}

.taskList .taskTop {
  font-size: 12px;
  font-weight: 600;
  color: #666;
  padding-bottom: 7px;
  border-bottom: 1px solid #666;
  margin-bottom: 7px;
}

.taskList .taskTop span {
  display: block;
  float: right;
}

.taskList .taskMid {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-gap: 10px;
}

.taskList .taskLabel {
  font-size: 18px;
}

.taskList .actions {
  float: right;
  font-size: 18px;
}

.taskList .actionDelete,
.taskList .actionEdit {
  color: #333;
  margin: 0 2px;
  cursor: pointer;
  padding: 4px;
}

.taskList .actionDelete:hover,
.taskList .actionEdit:hover {
  color: #0066FF;
  /* background-color: rgba(255,255,255,0.8); */
  /* border-radius: 4px; */
}


.taskList .taskDesc {
  font-size: 14px;
  margin-top: 10px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.taskList {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.taskList li.NA {
  background-color: #f1f1f1;
}

.taskList li.Pending {
  background-color: #ffecf9;
}
.taskList li.Complete {
  background-color: #d8f9d8;
}
.taskList li.InProgress {
  background-color: #fffce3;
}
                                     